:is(div.markdown-source-view) div:has(hr) + div:has(p)>p {
  --hr-text-y: -270%;
}
:is(div.markdown-source-view) .hr.cm-line + .cm-line:not(:has(br)) {
  --hr-text-y: -105%;
}

:is(div.markdown-source-view) div:has(hr) + div:has(p)>p,
:is(div.markdown-source-view) .hr.cm-line + .cm-line:not(:has(br)) {
  position: absolute;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  inset-inline-start: 50%;
  left: 50%;
  background-color: var(--background-primary);
  transform: translate(-50%, var(--hr-text-y));
}